<h1>SignUp Page</h1>
{%if form.errors%}
<p>error!</p>
{%endif%}
<form action="/accounts/createaccounts/" method="post" >{%csrf_token%}

     Name:<br>
    <input type="text" name="name" id="username">   </input><br>
    Surname:<br>
    <input type="text" name="surname" id="surname">   </input><br>
    Email:<br>
    <input type="email" name="email" id="password">   </input><br>

    Username:<br>
    <input type="text" name="username" id="username">   </input><br>
    Password:<br>
    <input type="password" name="password" id="password">   </input><br>
    <input type="submit" value="SignUp">   </input>
</form>