<!doctype html>
<html>

    <head>
    </head>

    <body>
    <h1>JOIN US !  </h1>
        {{test_data}}

    <form action="/accounts/createaccounts/" method="post">{% csrf_token %}

            USERNAME :<input type="text" name="username"></input><br>
            NAME :<input type="text" name="name"></input><br>
            SURNAME :<input type="text" name="surname"></input><br>
            EMAIL:<input type="email" name="email"></input><br>
            PASSWORD:<input type="password" name="password"></input><br>
            BIRTHDATE:<input type="date" name="birthdate"></input><br>

            <button type="submit">SUBMIT</button>


        </form>

    </body>
</html>