<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% load staticfiles %}


{% for game in all_game %}
<a href="{% url 'game:detail' game.id %}"> <h1>{{game.name}}</h1></a>
<h2>{{game.game_price}}</h2>
<h3>{{game.genre}}</h3>
<h4>{{game.created_date}}</h4>
<h4>{{game.update_date}}</h4>

{% if game.photo %}
<img src="{{game.photo.url}}">
{% endif %}
{% if request.user.is_superuser %}
<a href="{% url 'game:delete' game.id %}">Delete</a>
<a href="{% url 'game:update' game.id %}">Update</a>
{% endif %}
{% endfor %}
</body>
</html>